{% extends 'base.html' %}

{% load static %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h2>Profile</h2>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Access level:</strong> {{ user.access_level }}</p>
<p><strong>Last Login:</strong> {{ user.last_login }}</p>

<!-- Добавьте секцию для отображения аватара -->
<p>
    <strong>Avatar:</strong>

</p>
{% if user.avatar and user.avatar.name != '' %}
    <img src="{{ user.avatar.url }}" alt="Avatar" width="100" height="100">
{% else %}
    <img src="{% static 'images/avatars/default_avatar.png' %}" alt="Default Avatar" width="100" height="100">
{% endif %}
{% endblock %}
