<!DOCTYPE html>
<html>
<head>
    <title>Edit Question</title>
</head>
<body>
    <h1>{% if question %}Edit Question{% else %}Add New Question{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="question_text">Question:</label>
        <input type="text" id="question_text" name="question_text" value="{{ question.question_text|default_if_none:'' }}" required>
        <br>
        <label for="answer_text">Answer:</label>
        <textarea id="answer_text" name="answer_text" required>{{ question.answer_text|default_if_none:'' }}</textarea>
        <br>
        <button type="submit">Save</button>
    </form>
        <a href="{% url 'question_list' topic.id %}">Back to Questions</a>
</body>
</html>

